{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment Form</title>
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
</head>
<body>
    
    <div class="form-container">
        <h1>Enrollment Form</h1>
        <form method="POST" action="{% url 'form' %}" name="enroll" onsubmit="return validateForm()" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-row">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Enter your First name" required>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Enter your Last name" required>
                </div>
            </div>
            
            <label>Gender</label>
            <div class="radiobuttons">
                <label><input type="radio" name="gender" value="M" required> Male</label>
                <label><input type="radio" name="gender" value="F" required> Female</label>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" id="dob" name="dob" required>
                </div>
                <!--
                <div class="form-group">
                    <label>Nationality</label>
                    <div class="radiobuttons">
                        <label><input type="radio" name="nationality" value="Nigerian" required> Nigerian</label>
                        <label><input type="radio" name="nationality" value="Non-Nigerian"> Non-Nigerian</label>
                    </div>
                
                </div>
            -->
            </div>
            
            <label for="address">Address</label>
            <input type="text" id="address" name="address" placeholder="Enter your Home address" required>
            
            <div class="form-row">
                <div class="form-group">
                    <label for="state">State of Origin</label>
                    <select id="state" name="state" required>
                        <option value="" disabled selected>Select Your State</option>
                        <option value="Abia">Abia</option>
                        <option value="Adamawa">Adamawa</option>
                        <option value="Akwa-Ibom">Akwa-Ibom State</option>
                        <option value="Anambara">Anambara State</option>
                        <option value="Bauchi">Bauchi State</option>
                        <option value="Bayelsa">Bayelsa State</option>
                        <option value="Benue">Benue State</option>
                        <option value="Bornu">Bornu State</option>
                        <option value="Cross-River">Cross-River State</option>
                        <option value="Delta">Delta State</option>
                        <option value="Ebonyi">Ebonyi State</option>
                        <option value="Edo">Edo State</option>
                        <option value="Ekiti">Ekiti State</option>
                        <option value="Enugu">Enugu State</option>
                        <option value="Gombe">Gombe State</option>
                        <option value="Imo">Imo State</option>
                        <option value="Jigawa">Jigawa State</option>
                        <option value="Kaduna">Kaduna State</option>
                        <option value="Kano">Kano State</option>
                        <option value="Kastina">Kastina State</option>
                        <option value="Kebbi">Kebbi State</option>
                        <option value="Kogi">Kogi State</option>
                        <option value="Kwara">Kwara State</option>
                        <option value="Lagos">Lagos State</option>
                        <option value="Nassawara">Nassawara State</option>
                        <option value="Niger">Niger State</option>
                        <option value="Ogun">Ogun State</option>
                        <option value="Ondo">Ondo State</option>
                        <option value="Oyo">Oyo State</option>
                        <option value="Plateau">Plateau State</option>
                        <option value="Rivers">Rivers State</option>
                        <option value="Sokoto">Sokoto State</option>
                        <option value="Taraba">Taraba State</option>
                        <option value="Yobe">Yobe State</option>
                        <option value="Zamfara">Zamfara State</option>
                        <option value="FCT">F.C.T Abuja</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="telephone" placeholder="Enter your phone number" maxlength="11" required>
                </div>
            </div>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            
            <div class="form-row">
                <!--
                <div class="form-group">
                    <label for="skill">Skill To Acquire</label>
                    <select id="skill" name="skill" required>
                        <option value="" disabled selected>Select a Skill</option>
                        <option value="Forklift">Forklift Operation</option>
                        <option value="Excavator">Excavator Operation</option>
                        <option value="Crane">Crane Operation</option>
                        <option value="Scaffolding">Scaffolding Operation</option>
                        <option value="Pipe_fitting">Pipe Fitting</option>
                        <option value="Spray_Painting">Spray Painting Operation</option>
                        <option value="Plumbing_Skills">Plumbing Operation</option>
                        <option value="HSE123">Health Safety And Enviroment(HSE)1,2 & 3</option>
                        <option value="Advance_HSE">Advance Health Safety And Enviroment(HSE)</option>
                        <option value="Truck">Truck Driving Operation</option>
                        <option value="Payloader">PayLoader Operation</option>
                        <option value="Firefighting">FireFighting Operation</option>
                        <option value="Aquaculture">Aquaculture Operation</option>
                        <option value="Welding">Welding Operation</option>
                        <option value="Electrical">Electrical Fitting Operation</option>

                    </select>
                </div>
            -->
                <div class="form-group">
                    <label for="passport">Upload Passport</label>
                    <input type="file" id="passport" name="passport" accept="image/*" onchange="displayImage(this)" required>
                    <div id="passport-display"></div>
                </div>
            </div>

            <label for="enroll-date">Enrollment Date</label>
            <input type="date" id="enroll-date" name="enroll_date" min="2024-01-01" max="2100-01-01" required>

            <div class="terms-conditions">
                <label><input type="checkbox" id="terms-check" onclick="toggleTerms()" required> I Accept The Terms And Conditions</label>
                <div id="terms" class="terms">
                    <p>I hereby declare that the above information supplied are true and correct to the best of my knowledge. If found otherwise, I stand to be disqualifiied from this programme.
                    <br>I also pledge to abide by the Rules and Regulations Governing the programme.
                    <br>I Will Be held Responsible for Any Damage that I May Cause And Also Be Held Responsible For Fixing It.
                    </p>
                </div>
            </div>
            
            <input type="submit" value="Submit" class="btn-submit">
        </form>
    </div>

    <script src="{% static 'website/js/scripts.js' %}"></script>
</body>
</html>